/* .search, .contact{
  display: block;
}

.addContactForm{
  width: 95%;
  border: 1px solid black;
  padding: 1rem;
}

.formItself{
  width: 30%;
}

.contactFound{
  width: 40%;
  margin-bottom: 1rem;
}


.foundContact li, .foundContact{
padding: 1rem 0 0 0;
display: inline-block;
}

.profilePic{
  width: 50px;
  float: right;
}

.participants{
  width: 40%;
  border: 1px solid black;
  float: right;
} */

.addContainer{
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 40px 40px;
  grid-gap: 1em;
}

.addInput{
  grid-area: addInput;
  grid-row: 1;
  grid-column: 1 / 3;
  width: 100%;
}

.searchBtn{
  grid-area: searchBtn;
  grid-row: 2;
  grid-column: 1 / 2;
}

.addBtn{
  grid-area: addBtn;
  grid-row: 2;
  grid-column: 2 / 3;
}

img{
  height: 60px;
  border-radius: 100%;
}