<div class="container">
  <div class="search-container">
    <button mat-raised-button color="primary" (click)="openDialogAdd()">
      Add Contact
    </button>
  </div>
  <div class="conversation-list">
    <div class="conversation" *ngFor="let contact of contacts; let i = index">
      <img ngxGravatar [email]="contact.email" alt="Friend profile picture" fallback="{{contact.gravatar}}" size="50">
      <div class="contact-name">{{contact.email}}</div>
      <button class="status" mat-fab *ngIf="contact.status === 'Pending'"
        i18n="Indicator of pending request@@pendingIndicator">
        Pending
      </button>
      <button class="status" mat-fab color="accent" *ngIf="contact.status === 'Invited'" (click)="onAccept(i)"
        i18n="Button to accept a friend request@@acceptFriendBtn">
        Accept
      </button>
      <button class="status" mat-mini-fab color="primary" *ngIf="contact.status === 'Accepted'" (click)="onChat(i)">
        Chat
      </button>

    </div>
    <mat-card class="groups-section">
      <h1 i18n="Indicator of where group conversations begin@@groupsConvsIndicator">Groups</h1>
      <mat-card *ngFor="let group of groups; let i = index" class="group">
        <p class="group-name">{{group.group}}</p>
        <div class="status">
          <button mat-mini-fab color="primary" (click)="onGroupChat(i)">Chat</button>
        </div>
      </mat-card>
    </mat-card>
  </div>
  <div class="new-message-container">
    <button mat-raised-button color="primary" (click)="openDialog()"
      i18n="Button to create a group conversation@@groupConvBtn">
      Group Conversation
    </button>
  </div>
  <div class="chat-title">
    <div *ngIf="contactsConv.length < 1 && groupContacts.length < 1" class="no-conver">Select a conversation</div>
    <ul *ngFor="let contactConv of contactsConv">
      <li>{{contactConv.email}}</li>
    </ul>
    <div>
      <ul *ngIf="groupContacts.length > 1" class="container-group-title">
        <li i18n="Header for group conversation@@groupsConvsHeader" class="group-title">Participants</li>
        <ul class="participants-container">
          <li *ngFor="let groupContact of groupContacts; let inx = index" class="participants">
            {{groupContact.email}},&nbsp;
          </li>
        </ul>
        <button mat-raised-button class="btn-add-participant" (click)="openDialogAddParticipant()">Add</button>
      </ul>
    </div>
  </div>
  <div class="chat-message-list">
    <div *ngFor="let message of messages">
      <div class="message-content">
        <div *ngIf="this.user.id === message._id" class="message-row sender">
          <div class="message-text">
            <span style="font-weight: bold; color: yellow;">You <br></span>
            <span>{{message.message}}</span>
          </div>
          <div class="message-time">
            {{message.date}}
          </div>
        </div>
        <div *ngIf="this.user.id !== message._id" class="message-row receiver">
          <div class="message-text">
            <span style="font-weight: bold; color:darkgreen;">{{message.contact}} <br></span>
            <span>{{message.message}}</span>
          </div>
          <div class="message-time">
            {{message.date}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-form">
    <form (submit)="sendMessage(messageForm)" #messageForm="ngForm">
      <input type="text" autocomplete="off" class="writingMessage" name="message" required ngModel>
      <button mat-raised-button class="sendBtn" type="submit" [disabled]="messageForm.invalid || conversationId === ''"
        i18n="Button to send message@@sendMessageBtn">
        Send
      </button>
    </form>
  </div>
</div>

<router-outlet></router-outlet>